aiohttp
beautifulsoup4
pandas
lxml
selenium
webdriver-manager
newspaper3k
openai
fastapi
uvicorn
python-multipart
transformers
sentence-transformers>=2.2.2
transformers>=4.38.2
faiss-cpu
pydantic
requests
lxml[html_clean]
streamlit
langchain-huggingface
huggingface-hub
langchain