aiohttp
beautifulsoup4
pandas
lxml
selenium
webdriver-manager
newspaper3k
openai
fastapi
uvicorn
python-multipart
transformers==4.35.2
sentence-transformers==2.2.2
langchain-community
sentence-transformers
faiss-cpu
pydantic
requests
lxml[html_clean]
streamlit